<li class="nav-dropdown-container language">
  <a class="nav-link">Translations</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="https://kdujs-v2-vi.web.app/<%- page.path %>" class="nav-link">Tiếng Việt</a></li>
  </ul>
</li>
