<li class="nav-dropdown-container resources">
  <a href="#" class="nav-link">Resources</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li>
      <a
        href="https://kdu-js.web.app/about/team.html"
        class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>"
        >Team</a
      >
    </li>
    <li>
      <a href="https://kdu-js.web.app/sponsor/">Sponsor</a>
    </li>
  </ul>
</li>